@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

body::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%);
}

.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}


/* Star CSS */
/* 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  background-color: whitesmoke;
  overflow: hidden;
} */

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  color: #33bbcf;
  transform: rotate(-45deg);
  opacity: 50%;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

/* Define individual stars */
.star:nth-child(1) {
  --star-tail-length: 7em;
  --top-offset: 10vh;
  --fall-duration: 7s;
  --fall-delay: 1s;
}

.star:nth-child(2) {
  --star-tail-length: 6.5em;
  --top-offset: 20vh;
  --fall-duration: 8s;
  --fall-delay: 2s;
}

.star:nth-child(3) {
  --star-tail-length: 8em;
  --top-offset: 30vh;
  --fall-duration: 9s;
  --fall-delay: 3s;
}

.star:nth-child(4) {
  --star-tail-length: 7.5em;
  --top-offset: 40vh;
  --fall-duration: 10s;
  --fall-delay: 4s;
}

.star:nth-child(5) {
  --star-tail-length: 6em;
  --top-offset: 50vh;
  --fall-duration: 11s;
  --fall-delay: 5s;
}

.star:nth-child(6) {
  --star-tail-length: 7em;
  --top-offset: 60vh;
  --fall-duration: 12s;
  --fall-delay: 6s;
}

.star:nth-child(7) {
  --star-tail-length: 6.5em;
  --top-offset: 70vh;
  --fall-duration: 13s;
  --fall-delay: 7s;
}

.star:nth-child(8) {
  --star-tail-length: 8em;
  --top-offset: 80vh;
  --fall-duration: 14s;
  --fall-delay: 8s;
}

.star:nth-child(9) {
  --star-tail-length: 7.5em;
  --top-offset: 90vh;
  --fall-duration: 15s;
  --fall-delay: 9s;
}

.star:nth-child(10) {
  --star-tail-length: 6em;
  --top-offset: 100vh;
  --fall-duration: 16s;
  --fall-delay: 10s;
}



/* Continue for as many stars as needed */

.star::before,
.star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}

.star::before {
  transform: rotate(45deg);
}

.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {

  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}